@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v29-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin_cyrillic-300.woff') format('woff')
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff')
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

p.blue {
    color: blue;
}

p.green {
    color: green;
}

p.red {
    color: red;
}

div#description p {
    color: red;
}

div#description span {
    color: green;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#description span:first-child {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

#description span:nth-child(2) {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.example-1 h2 {
    font-size: 2em;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.example-1 .small {
    font-size: 1em;
}

.example-1 .bright {
    color: rebeccapurple;
}

.example-2 #winning {
    background-color: red;
    border: 1px solid black;
}

.example-2 .better {
    background-color: gray;
    border: none !important;
}

.example-2 p {
    background-color: blue;
    color: white;
    padding: 5px;
}

.example-3 div.yellow#red { /* 1-1-1 */
    color: darkorange;
    font-size: 24px;

}
.example-3 .red.blue.yellow { /* 0-3-0 */
    color: pink;
    font-size: 16px;
}