@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3a383a;
}

body {
    height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header * {
    color: #a19ba1;
    text-decoration: none;
}

.top ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top ul li {
    margin-left: 20px;
}

.logo {
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}

.menu {
    margin-top: 15px;
    background-color: #3a383a;
    border-radius: 5px;
}

.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 0 0 50px;
    padding: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 20px 0;
}

.gallery__big {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 -5px;
}
.gallery__big li {
    flex: 0 1 50%;
    padding: 0 5px;
}

.gallery__big li *{
    width: 100%;
}

.gallery__small {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5px -5px 0;
}

.gallery__small li {
    flex: 0 1 25%;
    padding: 0 5px;

}

.gallery__small li img {
    width: 100%;
}

.socials {
    max-width: 350px;
    min-width: 350px;
    border: 1px solid #a19ba1;
    padding: 20px;
    margin-top: 30px;
}

.socials__header {
    border-bottom: 1px solid #a19ba1;
}

.socials__title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: -2px;
}

.socials__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px 30px;
}

.socials__users {
    margin-top: 50px;
}

.socials__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials__user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.socials__icon {
    max-width: 45px;
}

.socials__photo {
    width: 80px;
    height: 80px;
}
.socials__photo img,
.socials__icon img {
    width: 100%;
    height: 100%;
}

.socials__info {
    margin-left: 20px;
    font-size: 14px;
}

.socials__role {
    font-weight: 700;
}

.socials__subtext {
    color: #a19ba1;
}

.socials__text {
    margin-top: 15px;
    color: #a19ba1;
}

.news {
    max-width: 734px;
    min-width: 734px;
    border: 1px solid #a19ba1;
    padding: 20px;
    margin-top: 30px;
}


.socials__header {
    border-bottom: 1px solid #a19ba1;
}

.socials__title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: -2px;
}

.news__item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #a19ba1;
}

.news__info {
    margin-left: 20px;
    padding: 5px 0;
}

.news__title {
    text-transform: uppercase;
    font-weight: 700;
}

.news__subtitle {
    font-size: 14px;
    color: #a19ba1;
}

.news__meta {
    margin-top: 15px;
    font-size: 14px;
    color: #a19ba1;
}

.footer {
    margin-top: 30px;
    padding: 50px 0;
    background-color: #3a383a;
    color: white;
    text-align: center;
}