@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3a383a;
}

body {
    height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
}

.header * {
    color: #a19ba1;
    text-decoration: none;
}

.header__content {
    display: inline-block;
}

.top ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}

.menu * {
    background-color: #3a383a;
    color: white;
}

.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 10px;
}

.menu ul li a {
    text-decoration: none;
}

.gallery__big {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.gallery__big > li {
    display: inline-block;
}
.gallery__small {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.footer {
    background-color: #3a383a;
    color: white;
    text-align: center;
}