@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3a383a;
}

body {
    height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
}

.header * {
    color: #a19ba1;
}

.header__content {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}

.nav {
    background-color: #3a383a;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 5px 0 0;
}

p {
}

.footer {
    background-color: #3a383a;
    color: white;
    text-align: center;
}